@import url('bootstrap');
@import url('bootstrap-icons');

header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

main {
    ul {
        min-height: 150px;
        margin: 0;
        background-color: rgb(0, 119, 255);
        list-style: none;
    }
}

.titleText {
    min-height: 150px;
    margin: 0;
    background-color: black;
    color: white;
}