@import url('bootstrap');
@import url('bootstrap-icons');


.logo {
    background-image: url(./img/dc-logo.png);
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}