@import url('bootstrap');
@import url('bootstrap-icons');

header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

main {
    ul {
        display: flex;
        min-height: 150px;
        margin: 0;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(0, 119, 255);
        list-style: none;
    }
}

.titleText {
    display: flex;
    align-items: center;
    padding-left: 15%;
    min-height: 150px;
    margin: 0;
    background-color: black;
    color: white;
}

.upFooter {
    height: 400px;
    background-image: url('./assets/img/footer-bg.jpg');
}

.downFooter {
    min-height: 100px;
    background-color: rgb(42, 42, 42);
}

h3 {
    color: white;
}

.BigLogo {
    margin: -40px 0px;
}