@import url('bootstrap');
@import url('bootstrap-icons');

header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

main {
    ul {
        display: flex;
        min-height: 150px;
        margin: 0;
        color: white;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(0, 119, 255);
        list-style: none;
        padding: 0 10%;
    }
}

.titleText {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 150px;
    margin: 0;
    background-color: black;
    color: white;
}

.upFooter {
    height: 400px;
    background-image: url('./assets/img/footer-bg.jpg');
    position: relative;
    overflow: hidden;

    a {
        text-decoration: none;
        display: block;
    }
}

.downFooter {
    min-height: 100px;
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: large;
    color: white;
}

.col-8 {
    font-size: small;
    padding-top: 10px;
    padding-left: 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    a {
        color: gray;
    }
}

.col-4 {
    position: absolute;
    right: 50px;
    top: 0;
    height: 100%;
}

.BigLogo {
    right: 0;
    top: -100px;
    position: absolute;
}

.followUs {
    margin-right: 15%;
    display: flex;
    align-items: center;
}

.followUs span {
    color: rgb(47, 47, 255);
    font-weight: bold;
    margin-right: 20px;
}

.btn {
    margin-left: 15%;
    border-radius: 0;
}

.socialIcons {
    display: flex;
    align-items: center;
}

.socialIcons div {
    margin-left: 10px;
    color: gray;
}

.jumbo {
    background-image: url('./assets/img/jumbotron.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: transparent;
    border: none;
    height: 100%;
}

.card-img-top {
    width: 90%;
    height: 280px;
    border-radius: 0;
    object-fit: cover;
    display: block;
}

.card-body {
    padding: 0.5rem 0;
    border: none;
    text-transform: uppercase;
    color: white;
}

main {
    .btn {
        border-radius: 0;
    }
}

main ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.current-series-label {
    position: absolute;
    left: 15%;
    top: -20px;
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 10px 20px;
    z-index: 10;
}

/*<li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">CHARACTERS</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">COMICS</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">MOVIES</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">TV</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">GAMES</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">COLLECTIBLES</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">VIDEOS</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">FANS</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">NEWS</a></li><li className="nav-item"><a className="nav-link active text-black" aria-current="page" href="#">SHOP</a></li>*/
/*<div className="col" key= {
    comic.id
}

><div className="card h-100"><img className="card-img-top" src= {
    comic.thumb
}

alt='' /><div className="card-body"><div> {
    comic.series
}

</div></div></div></div>*/